:root {

	// Container
	--am-block-max-width: 100%;
	--am-block-margin-top: 2em;
	--am-container-padding: 2.5em;

	// Flex
	--am-flex-gap: 2rem;
	--am-flex-min-block-width: 18rem;

	// Gallery
	--am-gallery-gap: 10px;
	--am-gallery-item-width: 200px;
	--am-gallery-z-index: 9999;
	--am-gallery-max-height: 100%;
	--am-gallery-max-width: 100%;
	--am-gallery-background: rgba(0,0,0,0.2);
	--am-gallery-controls-color: #FFFFFF;
	--am-gallery-controls-background: rgba(0,0,0,0.1);

	// Slider
	--am-slider-controls-color: #FFFFFF;
	--am-slider-controls-background: rgba(0,0,0,0.1);

}

.blocks {

	& p,
	& figure,
	& section,
	& form {
		margin-bottom: @margin-rst;
	}

	& figure img + figcaption {
		display: block;
		margin-top: 0.75rem;
	}

	& .am-paragraph-large {
		font-size: 1.5rem;
		line-height: 1.5;
		font-weight: 500;
	}

	& .am-buttons .am-button {
		font-weight: 700;
		transition: all 0.2s;
	}
	
	& .am-gallery-img-small img {
		height: 100% !important;
		width: 100% !important;
	}

	& .am-mail-form {

		& input,
		& textarea {

			font-size: inherit;
			box-shadow: none;
			border: var(--am-mail-input-border);
			transition: all 0.2s;

			&:focus {
				border-color: var(--am-mail-input-focus-border);
			}
		}

		& input {
			line-height: 2.6;
			padding: var(--am-mail-input-padding);
		}

		& textarea {
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
			line-height: 1.6;
			min-height: 10rem;
		}

		& button {
			border-radius: 0 !important;
			transition: all 0.2s;
			font-weight: 700;
		}

	}

	& table {

		width: 100%;
		max-width: 100%;
		border-top: 1px solid @border;
		border-right: 1px solid @border;

		& th, 
		& td {
			vertical-align: top;
			padding: 0.7rem 0.85rem;
			line-height: 1.6em;
			text-align: left;
			border-left: 1px solid @border;
		}

		& th {
			border-bottom: 2px solid @border;
		}

		& td {
			border-bottom: 1px solid @border;
		}

	}

	& ol,
	& ul {

		margin: @margin-rst 0;
		padding: 0;

		& ol,
		& ul {
			margin: 0;
			padding: 0.25rem 0;
		}

		& li {	
			margin: 0 0 0 1.25rem;
			padding: 0;
			line-height: 1.6;
			list-style-type: disc;
			list-style-position: outside;
		}

	}

	& ul li {
		margin-left: 2.25rem;
	}

	& ul ul li {
		margin-left: 1.75rem;
	}

	& ol > li {	
		list-style-type: decimal;
	}

	& blockquote {

		margin: 0;
		padding: 1.1rem 1.25rem;
		color: @bg;
		background-color: @text;
		font-weight: 520;

		& + figcaption {

			padding: 0rem 1.25rem 1.1rem 1.25rem;
			color: @bg;
			background-color: @text;
			font-weight: 520;
			font-style: italic;

			&:before {
				content: '—';
				padding-right: 1rem;
			}

		}

	}

	& pre code {
		white-space: pre;
	}

}

.cdx-list.cdx-list--ordered,
.cdx-list.cdx-list--unordered {

	margin: (@margin-rst - 0.25rem) 0;
	padding-left: 1.15rem;

	& li {	
		padding: 0.25rem 0;
		line-height: 1.6;
		list-style-type: disc;
		list-style-position: outside;
	}

}

.cdx-list.cdx-list--ordered li {
	list-style-type: decimal;
}
